# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# Python cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# =========================
# Virtual Environment
# =========================

venv/
.venv/
env/
ENV/

# =========================
# Environment Variables
# =========================

.env
.env.*
!.env.example

# =========================
# Testing / Coverage
# =========================

.coverage
.coverage.*
htmlcov/
.pytest_cache/

# =========================
# Build / Distribution
# =========================

build/
dist/
*.egg-info/

# =========================
# IDE / Editors
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs
# =========================

*.log

# =========================
# Database
# =========================

*.sqlite
*.sqlite3
*.db
# =========================
# Jupyter
# =========================

.ipynb_checkpoints/